In [1]:
import numpy as np

from feature_extraction.FileTools import readfasta

index_list, seq_list = readfasta("/home/kongge/projects/new_protT5/data/MSchlo578.fasta")

In [18]:
def DPC(sequences):
    AA = 'ACDEFGHIKLMNPQRSTVWY'
    encodings = []

    DiPeptides = [aa1 + aa2 for aa1 in AA for aa2 in AA]

    AADict = dict()
    for i in range(len(AA)):
        AADict[AA[i]] = i

    for sequence in sequences:
        code = [0] * 400
        sequence = sequence.replace("X", "")
        for i in range(len(sequence) - 1):

            code[AADict[sequence[i]] * 20 + AADict[sequence[i+1]]] = code[AADict[sequence[i]] * 20 + AADict[sequence[i+1]]] + 1
        if sum(code) != 0:
            code = [i / len(sequence) for i in code]
        encodings.append(code)
    return encodings

In [19]:
from ProtT5 import readH5File

In [20]:
# 训练集
feature_1, label_list1 = readH5File("/home/kongge/projects/new_protT5/data/ProtT5/output1.h5")
feature_2, label_list2 = readH5File("/home/kongge/projects/new_protT5/data/ProtT5/output2.h5")

In [21]:
import numpy as np
label_578 = label_list1 + label_list2
T5_578 = np.vstack((feature_1, feature_2))
index_list, seq_list = readfasta("/home/kongge/projects/new_protT5/data/MSchlo578.fasta")
index_seq_dict = {index_list[i]: seq_list[i] for i in range(len(index_list))}
seq_sorted_by_label578 = []
for item in label_578:
    seq_sorted_by_label578.append(index_seq_dict[item])

In [22]:
DPC_578 = np.array(DPC(seq_sorted_by_label578))

In [23]:
DPC_578

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.0075188 , 0.        , 0.0075188 , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.00456621, 0.00456621, ..., 0.        , 0.00456621,
        0.00456621],
       [0.01760563, 0.00352113, 0.        , ..., 0.00352113, 0.00352113,
        0.00352113],
       [0.00568182, 0.        , 0.00142045, ..., 0.        , 0.        ,
        0.00142045]])

In [24]:
from feature_extraction.labelTools import labelList2Mutil

mutil_label_578 = labelList2Mutil(label_578)

In [25]:
mutil_label_578

     envelope  lumen  plastoglobule  stroma  thylakoid_membrane
0           0      0              0       0                   1
1           0      0              0       0                   1
2           0      0              0       0                   1
3           0      0              0       0                   1
4           0      0              0       0                   1
..        ...    ...            ...     ...                 ...
573         0      0              0       0                   1
574         0      0              0       1                   0
575         0      0              0       0                   1
576         1      0              0       0                   0
577         0      0              1       0                   0

[578 rows x 5 columns]

In [26]:
import pandas as pd

mutil_label_578 = pd.DataFrame(mutil_label_578)

In [27]:
mutil_label_578

     envelope  lumen  plastoglobule  stroma  thylakoid_membrane
0           0      0              0       0                   1
1           0      0              0       0                   1
2           0      0              0       0                   1
3           0      0              0       0                   1
4           0      0              0       0                   1
..        ...    ...            ...     ...                 ...
573         0      0              0       0                   1
574         0      0              0       1                   0
575         0      0              0       0                   1
576         1      0              0       0                   0
577         0      0              1       0                   0

[578 rows x 5 columns]

In [29]:
DPC_578 = pd.DataFrame(DPC_578)

In [30]:
DPC_578

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,0.000000,0.000000,0.000000,0.000000,0.005525,0.005525,0.00000,0.011050,0.005525,0.005525,...,0.000000,0.011050,0.00000,0.000000,0.000000,0.005525,0.005525,0.000000,0.000000,0.000000
1,0.007519,0.000000,0.007519,0.007519,0.000000,0.000000,0.00000,0.000000,0.007519,0.015038,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.011173,0.005587,0.005587,0.00000,0.000000,0.005587,0.005587,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.005348,0.000000,0.005348,0.000000,0.00000,0.000000,0.016043,0.005348,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.016304,0.000000,0.000000,0.021739,0.005435,0.005435,0.00000,0.005435,0.016304,0.027174,...,0.000000,0.005435,0.01087,0.005435,0.000000,0.000000,0.005435,0.000000,0.005435,0.016304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,0.015789,0.000000,0.000000,0.005263,0.000000,0.000000,0.00000,0.000000,0.000000,0.005263,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.015789,0.000000,0.005263
574,0.000000,0.002075,0.002075,0.008299,0.006224,0.006224,0.00000,0.002075,0.000000,0.010373,...,0.000000,0.000000,0.00000,0.002075,0.000000,0.000000,0.002075,0.004149,0.000000,0.002075
575,0.000000,0.004566,0.004566,0.000000,0.009132,0.004566,0.00000,0.000000,0.000000,0.009132,...,0.000000,0.000000,0.00000,0.000000,0.004566,0.009132,0.000000,0.000000,0.004566,0.004566
576,0.017606,0.003521,0.000000,0.003521,0.000000,0.003521,0.00000,0.010563,0.007042,0.007042,...,0.003521,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.003521,0.003521,0.003521
577,0.005682,0.000000,0.001420,0.004261,0.004261,0.001420,0.00142,0.000000,0.004261,0.007102,...,0.000000,0.001420,0.00142,0.000000,0.002841,0.002841,0.000000,0.000000,0.000000,0.001420

In [31]:
sig_label_samples = mutil_label_578[(mutil_label_578.sum(axis=1) == 1)]
sig_label_indices = sig_label_samples.index
sig_features_samples = DPC_578.loc[sig_label_indices]

In [33]:
sig_features_samples

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,0.000000,0.000000,0.000000,0.000000,0.005525,0.005525,0.00000,0.011050,0.005525,0.005525,...,0.000000,0.011050,0.00000,0.000000,0.000000,0.005525,0.005525,0.000000,0.000000,0.000000
1,0.007519,0.000000,0.007519,0.007519,0.000000,0.000000,0.00000,0.000000,0.007519,0.015038,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.011173,0.005587,0.005587,0.00000,0.000000,0.005587,0.005587,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.005348,0.000000,0.005348,0.000000,0.00000,0.000000,0.016043,0.005348,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.016304,0.000000,0.000000,0.021739,0.005435,0.005435,0.00000,0.005435,0.016304,0.027174,...,0.000000,0.005435,0.01087,0.005435,0.000000,0.000000,0.005435,0.000000,0.005435,0.016304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,0.015789,0.000000,0.000000,0.005263,0.000000,0.000000,0.00000,0.000000,0.000000,0.005263,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.015789,0.000000,0.005263
574,0.000000,0.002075,0.002075,0.008299,0.006224,0.006224,0.00000,0.002075,0.000000,0.010373,...,0.000000,0.000000,0.00000,0.002075,0.000000,0.000000,0.002075,0.004149,0.000000,0.002075
575,0.000000,0.004566,0.004566,0.000000,0.009132,0.004566,0.00000,0.000000,0.000000,0.009132,...,0.000000,0.000000,0.00000,0.000000,0.004566,0.009132,0.000000,0.000000,0.004566,0.004566
576,0.017606,0.003521,0.000000,0.003521,0.000000,0.003521,0.00000,0.010563,0.007042,0.007042,...,0.003521,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.003521,0.003521,0.003521
577,0.005682,0.000000,0.001420,0.004261,0.004261,0.001420,0.00142,0.000000,0.004261,0.007102,...,0.000000,0.001420,0.00142,0.000000,0.002841,0.002841,0.000000,0.000000,0.000000,0.001420

In [34]:
sig_label_samples

     envelope  lumen  plastoglobule  stroma  thylakoid_membrane
0           0      0              0       0                   1
1           0      0              0       0                   1
2           0      0              0       0                   1
3           0      0              0       0                   1
4           0      0              0       0                   1
..        ...    ...            ...     ...                 ...
573         0      0              0       0                   1
574         0      0              0       1                   0
575         0      0              0       0                   1
576         1      0              0       0                   0
577         0      0              1       0                   0

[556 rows x 5 columns]

In [37]:
label_list = []
for index, row in sig_label_samples.iterrows():
    if row['envelope'] == 1:
        label_list.append(0)
    elif row['lumen'] == 1:
        label_list.append(1)
    elif row['plastoglobule'] == 1:
        label_list.append(2)
    elif row['stroma'] == 1:
        label_list.append(3)
    elif row['thylakoid_membrane']:
        label_list.append(4)

In [39]:
len(label_list)

556

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(sig_features_samples, label_list, test_size=0.2)

In [42]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
11,0.000000,0.000000,0.000000,0.000000,0.002247,0.000000,0.0,0.004494,0.002247,0.006742,...,0.002247,0.004494,0.000000,0.004494,0.000000,0.004494,0.000000,0.000000,0.002247,0.000000
76,0.013043,0.002174,0.002174,0.000000,0.000000,0.004348,0.0,0.002174,0.002174,0.006522,...,0.000000,0.002174,0.002174,0.002174,0.004348,0.002174,0.000000,0.004348,0.004348,0.004348
570,0.010309,0.010309,0.000000,0.000000,0.010309,0.000000,0.0,0.000000,0.000000,0.010309,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.010309,0.000000,0.000000,0.000000,0.010309
84,0.007246,0.000000,0.000000,0.003623,0.007246,0.000000,0.0,0.010870,0.007246,0.014493,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
576,0.017606,0.003521,0.000000,0.003521,0.000000,0.003521,0.0,0.010563,0.007042,0.007042,...,0.003521,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003521,0.003521,0.003521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.001366,0.001366,0.000000,0.004098,0.005464,0.009563,0.0,0.001366,0.001366,0.004098,...,0.001366,0.000000,0.000000,0.000000,0.000000,0.005464,0.002732,0.001366,0.000000,0.000000
500,0.005797,0.000000,0.000000,0.000000,0.000000,0.008696,0.0,0.000000,0.000000,0.005797,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
481,0.008242,0.000000,0.002747,0.000000,0.002747,0.002747,0.0,0.005495,0.002747,0.005495,...,0.000000,0.000000,0.002747,0.000000,0.002747,0.002747,0.000000,0.000000,0.002747,0.000000
394,0.000000,0.000000,0.004132,0.000000,0.000000,0.000000,0.0,0.000000,0.004132,0.008264,...,0.000000,0.004132,0.000000,0.000000,0.004132,0.004132,0.000000,0.004132,0.000000,0.000000
160,0.014682,0.001631,0.001631,0.004894,0.003263,0.006525,0.0,0.008157,0.006525,0.009788,...,0.000000,0.000000,0.001631,0.003263,0.001631,0.001631,0.003263,0.000000,0.000000,0.001631

In [45]:
from sklearn import svm

clf = svm.SVC(decision_function_shape='ovo')

In [46]:
clf.fit(X_train, y_train)

SVC(decision_function_shape='ovo')

In [47]:
y_pred = clf.predict(X_test)

In [48]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)

In [49]:
accuracy

0.6071428571428571